body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.hover:hover{
  text-decoration: underline orange;
}

.pointer {
  cursor: pointer;
}

p {
  margin: 5px 10px;
}

p:active {
  text-decoration: underline orange;
}

.term_title {
  font-size: medium;
  font-weight: bold;
}

#search_input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid black;
}

#search:focus {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid orange;
}

.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 25px;
}

.icon {
  margin-right: 10px;
  /* background: dodgerblue; */
  color: black;
  text-align: center;
}

.search {
  margin-top: 80px;
}
